/*This is how you Write Comment is CSS*/
.header {
  height: 55px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(228, 228, 228);
}

.leftSection {
  display: flex;
  align-items: center;
}

.hamburgerMenu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
  cursor: pointer;
}

.youtubeLogo {
  height: 20px;
  cursor: pointer;
}

.middleSection {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.searchBar {
  flex: 1;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
}

.searchBar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}

.searchButton {
  height: 40px;
  width: 66px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  margin-left: -1px;
  margin-right: 10px;
  cursor: pointer;
}

.searchButton,
.voiceSearchButton,
.uploadIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.searchButton .tooltip,
.voiceSearchButton .tooltip,
.uploadIconContainer .tooltip {
  font-family: Roboto, Arial;
  position: absolute;
  background-color: gray;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.searchButton:hover .tooltip,
.voiceSearchButton:hover .tooltip,
.uploadIconContainer:hover .tooltip {
  opacity: 1;
}

.searchIcon {
  height: 25px;
}

.voiceSearchButton {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(245, 245, 245);
  cursor: pointer;
}

.voiceSearchIcon {
  height: 24px;
}

.rightSection {
  width: 180px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.uploadIcon {
  height: 24px;
  cursor: pointer;
}

.youtubeAppsIcon {
  height: 24px;
  cursor: pointer;
}

.notificationIcon {
  height: 24px;
  cursor: pointer;
}

.notificationIconContainer {
  position: relative;
}

.notificationCount {
  position: absolute;
  top: -2px;
  right: -5px;
  background-color: rgb(200, 0, 0);
  color: white;
  font-family: Roboto, Arial;
  font-size: 11px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
  cursor: pointer;
}

.currentUserPicture {
  height: 32px;
  border-radius: 16px;
  cursor: pointer;
}