.thumbnail{
  width: 100%;
  cursor: pointer;
}

.videoTitle{
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
}

.noStyleLink {
  color: inherit;        /* uses parent text color */
  text-decoration: none; /* removes underline */
}


.videoInfoGrid{
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profilePicture{
  width: 36px;
  border-radius: 50px;
  cursor: pointer;
}

.thumbnailRow{
  margin-bottom: 8px;
  position: relative;
}

.videoAuthor,
.videoStats{
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.videoAuthor{
  margin-bottom: 4px;
  cursor: pointer;
}

.videoGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-width: 850px){
  .videoGrid{
    grid-template-columns: 1fr 1fr;
  }
}

@media(min-width:851px) and (max-width:999px){
  .videoGrid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(min-width:1000px){
  .videoGrid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.videoTime{
  font-family: Roboto, arial;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
}